<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kirilldev.rowingutapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.RowingutApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_gym_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RowingutApp">
        <activity
            android:name=".presentation.registration.RegistrationActivity"
            android:theme="@style/Test"
            android:exported="true"/>
        <activity
            android:name=".presentation.intro.RowingutIntroActivity"/>

        <activity
            android:name=".presentation.splashscreen.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>